absl-py==0.10.0
astor==0.8.1
axial-positional-embedding==0.2.1
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
dominate==2.5.1
future==0.18.2
gast==0.4.0
google-pasta==0.2.0
graphviz==0.14.2
grpcio==1.33.1
h5py==2.10.0
idna==2.10
imageio==2.9.0
importlib-metadata==2.0.0
jsonpatch==1.26
jsonpointer==2.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
local-attention==1.0.2
Markdown==3.3.2
matplotlib==3.3.0
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
networkx==2.4
numpy==1.18.5
olefile==0.46
opencv-contrib-python==3.4.2.16
opencv-python==3.4.2.16
Pillow==7.2.0
product-key-memory==0.1.10
protobuf==3.13.0
pyheatmap==0.1.12
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.1
reformer-pytorch==1.1.3
requests==2.24.0
scikit-image==0.17.2
scipy==1.2.1
six==1.15.0
spatial-correlation-sampler==0.3.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
tifffile==2020.7.24
torch==1.5.1
torchfile==0.1.0
torchvision==0.6.0a0+35d732a
torchviz @ git+https://github.com/szagoruyko/pytorchviz@46add7f2c071b6d29fc3d56e9d2d21e1c0a3af1d
tornado==6.0.4
tqdm==4.48.0
urllib3==1.25.10
visdom==0.1.8.9
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.3.1
